.body
  .main-container
    .header
      %h2 電話番号の確認

    .form
      %h4 携帯電話の番号
      %input.fome__num{name: "telNumbe", size: "17", placeholder: "携帯電話番号を入力", type: "tel", value: ""}/
      .form__comment
        %span 本人確認のため、携帯電話のSMS（ショートメッセージサービス）を利用して認証を行います。
        %button.form__submit-btn{type: "button"} 
          SMSを送信する
      .form__attention
        %span ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
      .form__reason
        = link_to "電話番号の確認が必要な理由>", '#'