.body
  .main-container
    .header
      %h2 会員登録完了

    .main-contents
      .comment
        %span ありがとうございます。
        %br 会員登録が完了しました。
        %button.comment__start-btn{type: "button"} 
          Fmarketをはじめる