-breadcrumb :profile
=render 'layouts/breadcrumbs'
%main.identification
  =render 'shared/side_bar'
  .card-content
    %h2.card-content-head 
      支払い方法
    .card-list
      .card-list-content
        %h3.card-list-content_text
          クレジットカード一覧
      %ul.payment-list
        %li
          %form
            %img{alt: "visa", height: "15", src: "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?2280950436", width: "49"}
            .payment-num
              ************1234
            .payment-num
              03/25
            %button.payment-list-remove__btn
              削除する
      .payment-description
        = link_to "支払い方法について ＞","https://www.mercari.com/jp/help_center/category/6/"