-breadcrumb :profile
=render 'layouts/breadcrumbs'
%main
  =render 'shared/side_bar'
  .card-content
    %h2.card-content-head 
      支払い方法
    .card-list
      .card-list-content
        %h3.card-list-content_text
          クレジットカード一覧
      %ul.payment-list
        %li
          %form
            .add-card
              =link_to " クレジットカードを追加する",users_cardlist_path, class:"add-card_btn" 
      .payment-description
        = link_to "支払い方法について ＞","https://www.mercari.com/jp/help_center/category/6/"