%body
  %main
    =render 'shared/side_bar'
    .user-dateile
      .user-dateile-head
        %h2 本人情報の登録
      .user-dateile-text
        %p.user-dateile-text__box
          お客様の本人情報をご登録ください。
          %br 登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
        %p.user-dateile-text__right
          =link_to "本人確認書類のアップロードについて＞"
        .user-dateile-form
          %ul
            %label お名前
            %li  成田 崚
        .user-dateile-form
          %ul
            %label お名前 カナ
            %li  ナリタ リョウ
        .user-dateile-form  
          %ul
            %label  生年月日
            %li   1992/03/11
        .user-dateile-form  
          %label.form-zip-code
            郵便番号 
          %p.from-arbitrary
            任意
        %input.input-form{placeholder:"例）１２３４５６７" }

        .user-dateile-form 
          %label.form-prefecture
            都道府県
          %p.from-arbitrary
            任意
        %select.select-default{name: "prefecture"}
          %option --
          %option 北海道
          %option 青森県
          %option 岩手県
          %option 宮城県
          %option 秋田県
          %option 山形県
          %option 福島県
          %option 東京都
          %option 神奈川県
          %option 埼玉県
          %option 千葉県
          %option 茨城県
          %option 栃木県
          %option 群馬県
          %option 山梨県
          %option 新潟県
          %option 長野県
          %option 富山県
          %option 石川県
          %option 福井県
          %option 愛知県
          %option 岐阜県
          %option 静岡県
          %option 三重県
          %option 大阪府
          %option 兵庫県
          %option 京都府
          %option 滋賀県
          %option 奈良県
          %option 和歌山県
          %option 鳥取県
          %option 島根県
          %option 岡山県
          %option 広島県
          %option 山口県
          %option 徳島県
          %option 香川県
          %option 愛媛県
          %option 高知県
          %option 福岡県
          %option 佐賀県
          %option 長崎県
          %option 熊本県
          %option 大分県
          %option 宮崎県
          %option 鹿児島県
          %option 沖縄県

        .user-dateile-form 
          %label.form-city
            市区町村
          %p.from-arbitrary
            任意
        %input.input-form{placeholder:"例）横浜市緑区" }
        .user-dateile-form 
          %label.form-address
            番地
          %p.from-arbitrary
            任意
        %input.input-form{placeholder:"例）青山1−1−1" }
        .user-dateile-form 
          %label.form-building
            建物名
          %p.from-arbitrary
            任意
        %input.input-form{placeholder:"例）柳ビル１０３" }
        .user-dateile-form__btn
          %button.form-registration__btn--red{type:"button"}
            登録する
        .user-dateile-form-contents
          = link_to "本人情報の登録について＞"
        
        

