%body
  -breadcrumb :logout
  =render 'layouts/breadcrumbs'
  %main
    .content
      =render 'shared/side_bar'
      .lcontent
        .lcontent__wrapper
          %form.lbox{novalidate: 'novalidate'}
            .lbox__content
              %button.lbox__content__btn{type: 'submit'} ログアウト
              /%input.lbox__content__logout{name: logout}
