%body
  -breadcrumb :logout
  =render 'layouts/breadcrumbs'
  %main
    .content
      =render 'shared/side_bar'
      .lcontent
        .lcontent__wrapper
          %form.lbox{novalidate: 'novalidate'}
            .lbox__content
              = link_to destroy_user_session_path, method: :delete, class:"lbox__content__btn" do
                ログアウト

