%body
  -breadcrumb :mypage
  =render 'layouts/breadcrumbs'
  %main
    .content
      =render 'shared/side_bar'
      .listing
        %section.listing-contents
          %h2.mypage-tab-head 出品した商品
          %ul.listing-tabs
            %li
              %h3
                = link_to "listing" do
                  出品中
            %li.listing-in_progress
              %h3
                = link_to "progress" do
                  取引中
            %li
              %h3
                = link_to "completed" do
                  売却済み
          .tab-content
            %ul.mydata-progress-content
              = image_tag "logo_gray.svg", class: "image-box", height: "150px", width: "150px"
              %li.mydata-product__content__not-found 取引中の商品がありません