-breadcrumb :add
=render 'layouts/breadcrumbs'
%main
  =render 'shared/side_bar'
  .card-content
    .card-content__head 支払い方法
    .card-content__main
      .card-content__main__list
        .card-content__main__list__show
          %h3.card-content__main__list__show__text クレジットカード一覧
      .card-content__main__add
        .card-content__main__add__payment
          = link_to edit_card_path(current_user), class: "red__btn", data: {"turbolinks" => false} do
            %i  
            = icon('fas', 'credit-card', class: "card__icon")
            クレジットカードを追加する
      .single-code
        %span.single-code__info 支払い方法について >
      
      
      
      
      
      
      
      -# %ul.payment-list
      -#   %li
      -#     %form
      -#       .add-card
      -#         =link_to " クレジットカードを追加する",edit_card_path, class:"add-card_btn" 
      -# .payment-description
      -#   = link_to "支払い方法について ＞","https://www.mercari.com/jp/help_center/category/6/"