aside{
  height: 260px;
  width: 100%;
  position: relative;
  .fmarket-banner-easy{
    position: absolute;
    color: white;
    top: 40px;
    left: 355px;
    z-index: 1;
    font-weight: bold;
    font-size: 24px;
  }
  .fmarket-banner-download{
    position: absolute;
    color: white;
    top: 80px;
    left: 355px;
    z-index: 1;
    font-weight: bold;
    font-size: 36px;
  }
  // .mobilephone{
  //   height: 260px;
  //   width: 300px;
  //   z-index: 1;
  //   position: absolute;
  //   left: 850px;
  //   opacity: 0.9;
  // }
  .fmarket-picture{
    width: 100%;
    // opacity: 0.7;
  }
  .logo-red{
    position: absolute;
    top: 155px;
    left: 355px;
  }
  #sample_apple{
    position: absolute;
    top: 160px;
    left: 437px;
  }
  #sample_google{
    position: absolute;
    top: 160px;
    left: 586px;
  }
}
footer{
    height: 390px;
    width: 100%;
    background-color: #212121;
    list-style: none;
    .fmarket-guide{
      height: 298px;
      width: 1020px;
      margin: 0 auto;
      list-style: none;

      .about-fmarket{
        height: 241px;
        width: 184px;
        display: block;
        float: left;
        list-style: none;
        margin-top: 18px;
        padding-right: 20px;
        .footer-head{
          color: #fff;
          font-size: 16px;
          font-weight: 700;
        }
        ul{
          list-style: none;
          height: 203px;
          width: 100%;
          li{
            width: 100%;
            margin-top: 14px;
            height: 18px;
            a{
              color: white;
              text-decoration: none;
              font-size: 12px;
              opacity: .7;
              height: 100%;
              width: 100%;
            }
          }
          li.footer-sns-link{
            margin-top: 14px;
            color: white;
            display: flex;
            a{
              opacity: 1;
              display: block;
              height: 42px;
              width: 48px;
              .fab.fa-twitter{
                color: #fff;
                font-size: 26px;
                display: inline-block;
                background: transparent;
                margin: 16px 18px 0 0;
                float: left;
              }
              .fab.fa-facebook-square{
                color: #fff;
                font-size: 26px;
                display: inline-block;
                background: transparent;
                margin: 16px 18px 0 0;
                float: right;
              }
            }
          }
        }
      }
      .help{
        height: 280px;
        width: 195px;
        display: block;
        float: left;
        list-style: none;
        margin-top: 18px;
        padding-right: 40px;
        .footer-head{
          color: #fff;
          font-size: 16px;
          font-weight: 700;
        }
        ul{
          list-style: none;
          height: 242px;
          width: 100%;
          font-size: 14px;
          li{
            margin-top: 14px;
            width: 100%;
            height: 18px;
            a{
              color: white;
              text-decoration: none;
              font-size: 12px;
              opacity: .7;
              height: 100%;
              width: 100%;
            }
          }
        }
      }
      .term{
        height: 170px;
        width: 379px;
        display: block;
        float: left;
        list-style: none;
        margin-top: 18px;
        padding-right: 40px;
        .footer-head{
          color: #fff;
          font-size: 16px;
          font-weight: 700;
        }
        .term-left{
          height: 148px;
          width: 175px;
          float: left;
          padding-right: 20px;
          ul{
            list-style: none;
            height: 132px;
            width: 185px;
            float: left;
            li{
              margin-top: 16px;
              width: 100%;
              font-size: 12px;
              a{
                color: white;
                text-decoration: none;
                font-size: 12px;
                opacity: .7;
              }
            }
          }
        }
        .term-right{
          height: 148px;
          width: 175px;
          float: right;
          ul{
            list-style: none;
            height: 132px;
            width: 185px;
            float: left;
            
            li{
              margin-top: 16px;
              width: 100%;
              font-size: 12px;
              a{
                color: white;
                text-decoration: none;
                font-size: 12px;
                opacity: .7;
              }
            }
          }
        }
      }
      .country{
        height: 88px;
        width: 102px;
        display: block;
        float: left;
        list-style: none;
        margin-top: 18px;
        
        .footer-head{
          color: #fff;
          font-size: 16px;
          font-weight: 700;
        }
        ul{
          list-style: none;
          li{ 
            margin-top: 16px;
            a{
              color: white;
              text-decoration: none;
              font-size: 12px;
              opacity: .7;
            }
          }
        }
      }
    }
    .footer-bottom{
      height: 31px;
      width: 1020px;
      margin: 30px auto 20px;
      figure{
        height: 48px;
        width: 48px;
        float: left;
      }
    }
  }
* { margin: 0; padding: 0; }
