.body-products-new {
  background-color: #f5f5f5;
  width: 100%;
}
.header-products-new {
  text-align: center;
  height: 128px;
  width: 100%;
  h1 {
    padding-top: 40px;
    a{
      width: 185px;
      height: 49px;
      line-height: 49px;
    }
  }
}
.exhibition {
  width: 700px;
  background: #f5f5f5;
  margin: 0 auto;
}
.exhibition-head {
  padding: 32px 16px; 
  width: 668px;
  background-color:white;
  h2 {
    text-align: center;
    line-height: 1.5;
  }
}
.new_product {
  background: #f5f5f5;
}
.exhibition-form {
  width: 700px;
  background: #f5f5f5;
}

.exhibition-form-image {
  border-top: solid 1px #f5f5f5;
  width: 620px;
  background-color: white;
  padding: 40px;
  p {
    font-size: 14px;
  }
}
.exhibition-form-image-box {
  cursor: pointer;
  padding: 40px;
  width: 538px;
  height: 83px;
  background-color: #ccc;
  border: dotted 1px;
  text-align: center;
  &__file {
    // display: none;
  }
}
.product-text-form {
  border-top: solid 1px #f5f5f5;
  width: 620px;
  background-color:white;
  padding: 40px;
  &__box {
    padding-bottom: 25px;
    &--last {
      padding: 0;
    }
  }
  .input-form-product-name{
    height: 48px;
  }
}
.product-textarea {
  padding: 10px;
  width: 598px;
  height: 122px;
  font-size: 16px;
  margin-top: 8px;
}
.input-form-product-name {
  border: solid 1px #ccc;
    border-radius: 3px;
    margin-top: 8px;
    padding: 10px 16px;
    width: 586px;
    height: 26px;
    font-size: 16px;
}
.brand-text-form__box {
  margin-top: 22px;
}
.input-form-brand-name{
  outline: 0;
  -webkit-appearance: none;
  width: 400px;
  height: 48px;
  border: solid 1px #ccc;
  border-radius: 3px;
  background-color: white;
  margin-top: 8px;
  padding-left: 13px;
  font-size: 16px;
}
.product-details-form {
  border-top: solid 1px #f5f5f5;
  width: 620px;
  background-color: white;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  select {
  outline: 0;
  -webkit-appearance: none;
  width: 400px;
  height: 48px;
  border: solid 1px #ccc;
  border-radius: 3px;
  background-color: white;
  margin-top: 8px;
  padding-left: 13px;
  font-size: 16px;
  }
  &__info {
    width: 400px;
    &__low {
      margin-top: 22px;
    }
  }
}
.product-delivery-form {
  border-top: solid 1px #f5f5f5;
  justify-content: space-between;
  display: flex;
  width: 620px;
  background-color: white;
  padding: 40px;
  &__info-box{
    width: 400px;
  }
  select {
    outline: 0;
    -webkit-appearance: none;
    width: 400px;
    height: 48px;
    border: solid 1px #ccc;
    border-radius: 3px;
    background-color: white;
    margin-top: 8px;
    padding-left: 13px;
    font-size: 16px;
    }
}
.product-price {
  border-top: solid 1px #f5f5f5;
  width: 620px;
  padding: 40px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  h3.sell-sub-head{
    float: left;
    color: #888;
    font-size: 14px;
    height: 14px;
  }
  &__group{
    width: 400px;
    height: 218px;
    float: right;
    display: block;
    .product-price-about{
      height: 72px;
      width: 400px;
      .product_price-form__left{
        float: left;
        height: 48px;
        width: 200px;
        position: relative;
        padding-bottom: 24px;
        .product_header {
          float: left;
          font-size: 14px;
          font-weight: 600;
          position: absolute;
          top: 16px;
        }
        .product_required {
          float: left;
          margin-left: 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          background-color: #EA352D;
          vertical-align: top;
          position: absolute;
          left: 30px;
          top: 14px;
        }
      }
      .product_price-form__right{
        height: 48px;
        width: 200px;
        padding-bottom: 30px;
        float: right;
        font-size: 14px;
        text-align: right;
        .money-mark{
          padding: 18px 10px 0 0;
          display: inline-block;
          height: 12px;
          width: 16px;
        }
        .price_form-box{
          width: 160px;
          height: 48px;
          padding: 10px 16px 8px 16px;
          text-align: right;
          font-size: 16px;
          float: right;
          border-radius: 4px;
          border: 1px solid #ccc;
          line-height: 48px;
        }
      }
    }
    .product_price-fee{
      width: 400px;
      height: 15px;
      padding: 24px 0;
      display: flex;
      border-top: 1px solid #ccc;
      font-size: 14px;
      position: relative;
      .right_bar{
        position: absolute;
        right: 0;
      }
    }
    .product_profit{
      width: 400px;
      height: 35px;
      padding: 24px 0;
      display: flex;
      border-top: 1px solid #ccc;
      font-weight: 600;
      position: relative;
      .right_bar_2{
        position: absolute;
        right: 0;
        font-size: 34px;
      }
    }
  }
}

.product-btn-form {
  border-top: solid 1px #f5f5f5;
  width: 620px;
  padding: 40px;
  background-color: white;
  font-size: 14px;
}
.product-back-btn {
  margin-top: 20px;
  text-align: center;
  .form-registration__btn--gray {
    width: 277px;
    height: 48px;
    background-color: #aaa;
    border: 1px solid #aaa;
    cursor: pointer;
  }
}
.form-product__btn--red {
  text-decoration: none;
    color: white;
    width: 620px;
    height: 50px;
    background: #ea352d;
    cursor: pointer;
    border: solid 1px;
    border: 1px solid #ea352d;
    font-size: 16px;
    margin: 40px 0 0;
}
.footer-products-new {
  width: 456px;
  height: 220px;
  margin: 0 auto;
  background-color: #f5f5f5;
  text-align: center;
  .nav-products-new{
    height: 12px;
    width: 456px;
    padding-top: 40px;
    text-align: center;
    background-color: #f5f5f5;
    ul{
      display: flex;
      li{
        display: block;
        float: left;
        font-size: 12px;
        margin-left: 12px;
        margin: 0 auto;
        a{
          display: block;
          text-decoration: none;
          color: black;
        }
      }
      .footer-logo{
        height: 65px;
        width: 80px;
        margin-top: 40px;
      }
    }
  }
  .goto-top{
    height: 65px;
    width: 80px;
    margin: 40px 0 auto;
    .footer-logo{
      margin: 40px auto 0;
    }
  }
}
.error {
  font-size: 12px;
  margin-top: 8px;
  color: red;
  height: 21px;
  width: 80%;
  display: inline-block;
}
.field_with_errors {
  display: inline;
}
.form-arbitrary {
  margin-left: 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  background-color: #ccc;
  vertical-align: top;
}
.photo_form_box {
  display: flex;
}
.img_box_boxs {
  width: 100px;
  display: flex;
}
.photo_img {
  width: 100px;
  height: 80px;
  display: flex;
}
// スプリントレビュー後
.post__drop__box__container{
  display: block;
  margin: 16px auto 0;
  display: flex;
  flex-wrap: wrap;

  //プレビュー表示欄のCSS
  .prev-content {
    display: flex;
    .preview-box {
      height: 162px;
      width: 112px;
      margin: 0 15px 10px 0;
      .upper-box {
        height: 112px;
        width: 100%;
        img{
          width: 112px;
          height: 112px;
        }
      }
      .lower-box {
        display: flex;
        text-align: center;
        .update-box {
          color: #00b0ff;
          width: 50%;
          height: 50px;
          line-height: 50px;
          border: 1px solid #eee;
          background: #f5f5f5;
          cursor: pointer;
        }
        .delete-box {
          color: #00b0ff;
          width: 50%;
          height: 50px;
          line-height: 50px;
          border: 1px solid #eee;
          background: #f5f5f5;
          cursor: pointer;
        }
      }
    }
  }

  //投稿クリックエリアのCSS
  .label-content{
    margin-bottom: 10px;
    width: 620px;
    .label-box {
      display: block;
      border: 1px dashed #ccc;
      position: relative;
      background: #f5f5f5;
      width: 100%;
      height: 162px;
      cursor: pointer;
      &__text-visible {
        position: absolute;
        top: 50%;
        left: 16px;
        right: 16px;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
        font-weight: bold;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        pointer-events: none;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
  }
}
.form-required {
  margin-left: 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  background-color: #EA3520;
}
*{
  margin:0;
  padding:0;
  }