
body {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  border-style: solid;
  border-width: 0;
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
}

.regist-container {
  padding: 0 0 250px;
}

.h1 {
  margin: 40px 0 0;
}

.regist-header{
  text-align: center;
  height: 128px;

  &__top-logo {
    display: inline-block;
    width: 185px;
    height: 49px;
    margin: 40px 8px 0 0;
    line-height: 49px;
  }
}

.log-in-main__boxes__noaccount p {
  font: 14px;
}

.log-in-main__boxes__noaccount a {
  display: block;
  margin: 8px 0 0;
  border: 1px solid #0099e8;
  background: #0099e8;
  color: #fff;
  line-height: 40px;
  text-decoration: none;
}

.log-in-main {
  &__boxes {
    &__SNS {
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      border: 1px solid transparent;
      transition: all ease-out .3s;
      cursor: pointer;
      text-align: center;
      position: relative;
      margin: 0;

      &__facebook {
        background: #385185;
        color: #fff;
        text-decoration: none;
      
        &__icon-fbook {
          height: 26px;
          width:26px;
          display: inline-block;
          font-family: 'icon-font';
          position: absolute;

        }
      }

      &__google {
        border: #979797 solid 1px;
        color: #333;
        margin: 16px 0 0;
        background: #fff;
        text-decoration: none;

        &__icon-google {
          position: absolute;
          height: 26px;
          width:26px;
          display: inline-block;
          font-family: 'icon-font';
        } 
      }
    }
  }  
}



// .icon-fbook {
//   height: 26px;
//   width:26px;
//   display: inline-block;
//   font-family: 'icon-font';
//   // speak: none;
//   font-style: normal;
//   font-weight: 400;
//   font-variant: normal;
//   text-transform: none;
//   line-height: 1;
//   position: absolute;
//   top: 50%;
//   left: 16px;
//   color: #385185;
//   background: #fff;
//   content: '\e014';
//   text-decoration: inherit;
//   vertical-align: inherit;
//   border-style: solid;
//   border-width: 0;
// }

// .contents-btn--google {
//   border: #979797 solid 1px;
//   color: #333;
//   margin: 16px 0 0;
//   background: #fff;
//   text-decoration: none;
// }


.log-in-main {
  display: block;

  &__boxes {
    max-width: none;
    width: 456px;
    background: #fff;
    margin: 0 auto;

    &__noaccount {
      padding: 40px 64px;
      text-align: center;
    }

    &__SNS {
      padding: 32px 64px;
      border-top: 1px solid #eee;
    }

    &__info {
      padding: 24px 64px 32px;
      border: 0;

      &__email {

      }

      &__pass {

      }

      &__login {

      }
    }
  }
}

.log-in-main__boxes__login button {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  margin: 24px 0 0;
}

.log-in-main__boxes__info a {
  color: #0099e8;
  text-decoration: none;
  display: block;
  margin: 40px 0 0;
}

.login-input-text {

}

.input-default {
  height: 28px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  width: 100%;
  margin: 8px 0 0;
}



.regist-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 140px;
  padding: 40px 0;
  text-align: center;
  width: 456px;
  margin: 0 auto;

  &__footer-logo {
    width: 80px;
    height: 65px;
    margin: 40px auto 0;
  }
}

.regist-footer_nav {

}

.regist-footer ul {
  list-style: none;
}

.regist-footer li {
  margin: 0;
  display: inline-block;
  font-size: 12px;

}

.regist-footer a {
  text-decoration: none;
  touch-action: manipulation;
  display: block;
  color: #333;
}

.regist-footer p {
  margin: 8px 0 0;
  font-size: 13px;
}