.regist-body{
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
}

.regist-container{
  padding: 0 0 250px;
}

.regist-header{
  text-align: center;
}

.top-logo {
  display: inline-block;
  width: 120px;
  height: 33px;
  margin: 0 8px 0 0;
  line-height: 33px;
}

.signup-var{
  padding: 16px 0;
  border-top: 1px solid #eee;
}

.step-bar {
  list-style: none;
  font-size: 0;
  text-align: center;
}


.step  {
  position: relative;
  z-index: 1;
  display: inline-block;
  min-width: 40px;
  margin: 0 5% 0 0;
  font-size: 12px;
}


.progress-status {
  width: 12px;
  height: 12px;
  margin: 8px auto 0;
  background-color:gray;
  border-radius: 50%;
  display:flex;
}
.progress-status:active {
  background-color:red;
}

.regist-mainform {
  display: block;

  &__l-regist-wholeform {
  background: #fff;

    &__head{
      padding: 16px;
      font-size: 18px;
      line-height: 1.5;
      text-align: center;
    }

    &__input {
      padding: 24px 16px 40px;
      border-top: 1px solid #f5f5f5;

      &__info {
        max-width: 343px;
        margin: 0 auto;

        &__nickname {
          margin: 0;
          &__form-require {
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
            color: red;
          }
          &__input-default {
            
          }
        }
      }
    }

  }
}


.regist__footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 250px;
  padding: 40px 0;
  text-align: center;

  &__rules {

    &__list {
      list-style: none;

      &__first {
        margin: 0;
      }
      &__second {
        margin: 16px 0 0;
        font-size: 12px;
      }
      &__third {
        font-size: 12px;
      }
    }
  }
  
  &__footer-logo {
    width: 80px;
    height: 65px;
    margin: 40px auto 0;
  }

  
}