body {
  background-color: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;


.user-datail {
  width: 700px;
  // height: 100%;
  background-color: #f5f5f5;
  margin: 0 auto;
}
.user-datail-head {
  background-color: white;
  margin-bottom: 5px;
  h2 {
    text-align: center;
    padding: 8px 24px;
  }
}
select {
  display: inline-block;
  width: 100%;
  height: 48px;
  margin-top: 8px;
  background-color: white;
  border: solid 1px  rgb(216, 214, 214);
}



.user-datail-text {
  padding: 64px;
  width: 572px;
  // height: 100%;
  background-color: white;
  font-size: 14px;
}

.user-datail-text__right {
  text-align: end;
  a {
  font-size: 14px;
  text-decoration: none;
  color: #0099e8
  }
}

.user-datail-form {
  width: 100%;
  margin: 40px 0 0;
}
input {
  display: block;
  width: 94%;
  height: 24px;
  margin-top: 8px;
  padding: 10px 16px;
  border-radius: 4px;
  border: solid 1px  rgb(216, 214, 214);
}
.user-datail-form label {
  font-weight: 600;
}

.input-form {
  border: solid 1px #ccc;
  border-radius: 3px;
  margin-top: 8px;
  padding: 10px 16px;
  width: 538px;
  height: 26px;
  font-size: 16px;

}

.from-arbitrary {
  margin-left: 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  background-color: #ccc;
  vertical-align: top;
  display: inline-block;
}

.user-datail-form__btn {
  margin-top: 40px;
  width: 572px;
  height: 50px;
  background: #ea352d;
  cursor: pointer;
  border: solid 1px;
  border: 1px solid #ea352d;
  position: relative;
  color: white;
}




.user-datail-form-contents {
  text-align: end;
  margin-top: 40px;
  a {
  color: #0099e8;
  text-decoration: none;
  }
}
.select-default {
  outline: 0;
  -webkit-appearance: none;
  width: 572px;
  height: 43px;
  border: solid 1px #ccc;
  border-radius: 3px;
  background-color: white;
  margin-top: 8px;
  padding-left: 13px;
  font-size: 16px;
}
.card-month {
    width: 131.5px;
    height: 48px;
    font-size: 15px;
}
.card-year {
    width: 131.5px;
    height: 48px;
    font-size: 15px;
}
.user-datail-text-address {
  padding: 5px 64px 64px 64px;
  width: 572px;
  // height: 100%;
  background-color: white;
  font-size: 14px;

}

.r{
color:#888;
}
* {margin: 0; padding: 0;}
}