.card-registration {
  height: 562px;
  width: 700px;
  margin: 0 auto;
}

.card-registration-head {
  width: 91%;
  background-color: white;
  padding: 32px;
  margin-bottom: 3px;
  h2 {
    text-align: center;
    font-size: 22px;

  }
}
.card-registration-box {
  width: 628px;
  height: 446px;
  background-color: white;
  padding: 34px 40px 32px 32px;
}

.card-number-upper-form {
  max-width: 343px;
  margin: 0 auto;
  #user_user_detail_attributes_credit_num {
    width: 100%;
    height: 48px;
  }
}

.form-required {
  margin-left: 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  background-color: #EA352D;
  vertical-align: top;
}
.card-number-form {
    display: block;
    width: 309px;
    height: 28px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
    margin-top: 8px;
}
.available {
  margin-top: 8px;
  display: flex;
  list-style: none;
  li {
    margin-right: 10px;
  }
}

.select-year-month {
  margin-top: 8px;
  display: flex;
  .select-year-month-form {
    width: 100%;
  }
  .card-year{
    margin-left: 14px; 
  }
  span {
    margin: 0 12px;
    line-height: 56px;
  }
  select {
    border: 1px solid #ccc;
    background-color: white;
  }
}

.card-expiration-form {
  margin-top: 32px;
}
.signup-security-code-text {
  margin-top: 8px;
  text-align: end;
  &__btn {
  color: #0099e8;
  font-size: 14px;
  text-decoration: none;

  .question {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #0099e8;
    color: #fff;
    line-height: 14px;
    font-size: 12px;
    text-align: center;
    }
  }
}


.signup-security-code-text__btn:hover {
  color: aqua;
  
}

.card-security-number-form {
  margin-top: 32px;
  .card-number-form {
    width: 100%;
    height: 48px;
  }
}

.card-registration-form__btn {
margin-top: 32px;
width: 343px;
height: 50px;
cursor: pointer;
background: #e62017;
color: white;
font-size: 14px;
margin-top: 32px;
position: relative;
  &__red  {
    text-decoration: none;
    color: white;
    font-size: 16px;
    position: absolute;
    top:20px;
    right: 140px;
  }
}

.buy-result__footer2 {
  height: 140px;
  width: 456px;
  margin: 40px auto;
  padding: 40px 0;
  background-color: #eeeeee;
  nav {
    height: 12px;
    width: 456px;
    ul {
      height: 100%;
      width: 456px;
      display: flex;
      justify-content: center;
      li {
        line-height: 12px;
        padding: 0 9px;
        .menu {
          text-decoration: none;
          font-size: 12px;
          color: black;
        }
      }
    }
  }
  &__logo {
    width: 80px;
    height: 65px;
    margin: 35px auto 0;
  }
  p {
    height: 14px;
    width: 100%;
    padding-top: 8px;
    line-height: 14px;
    text-align: center;
    span {
      font-size: 14px;
      text-align: center;
      font-weight: lighter;
    }
  }
}